<script type="text/javascript" src="assets/Boot.js"></script>
<script type="text/javascript" src="assets/Preloader.js"></script>
<script type="text/javascript" src="assets/MainMenu.js"></script>
<script type="text/javascript" src="assets/Game.js"></script>
<style>
  #gameContainer {
    display: none;
  }
</style>

<select id="playerSelected">
  <option value ="" disabled selected>Characters</option>
  <option value="character1">Character1</option>
  <option value="character2">Character2</option>
  <option value="character3">Character3</option>
  <option value="character4">Character4</option>
</select>

<div id="gameContainer">
  <button id="save">Save</button>
  <form id="gitbookURL" >
    <input type="submit">
  </form>
</div>

 <div id="displayGitBook">

 </div>


<script>
var selectedPlayer;
var playerName = '<%= @current_user.user_name %>'

var GAImmersered = GAImmersered || {};
GAImmersered.game = new Phaser.Game(800, 600, Phaser.AUTO, 'gameContainer', null, false, false);
GAImmersered.game.state.add('Boot', GAImmersered.Boot);
GAImmersered.game.state.add('Preloader', GAImmersered.Preloader);
GAImmersered.game.state.add('MainMenu', GAImmersered.MainMenu);
GAImmersered.game.state.add('Game', GAImmersered.Game);
// debugger;

$('#save').on('click', function(){

  GAImmersered.game.state.states.Game.saveGame();

})

$('#playerSelected').on('change', function(){
  selectedPlayer = $('#playerSelected').val();
  console.log(selectedPlayer);

  $('#playerSelected').hide();
  $('#gameContainer').show();

  // start game once player has been selected
  // debugger;

  GAImmersered.game.state.start('Boot');
});

$(document).ready(function(){

  const gitbookPages = [
    "https://api.gitbook.com/book/michelleerica/wdi-25/contents/week01/wk01-day01.json",
    "https://api.gitbook.com/book/michelleerica/wdi-25/contents/week01/wk01-day02.json",
    "https://api.gitbook.com/book/michelleerica/wdi-25/contents/week01/wk01-day03.json",
    "https://api.gitbook.com/book/michelleerica/wdi-25/contents/week01/wk01-day04.json",
    "https://api.gitbook.com/book/michelleerica/wdi-25/contents/week01/wk01-day05.json",
    "https://api.gitbook.com/book/michelleerica/wdi-25/contents/week_02/wk02_day01.json",
    "https://api.gitbook.com/book/michelleerica/wdi-25/contents/week_02/wk02_day02.json",
    "https://api.gitbook.com/book/michelleerica/wdi-25/contents/week_02/wk02_day03.json",
    "https://api.gitbook.com/book/michelleerica/wdi-25/contents/week_02/wk02_day04.json",
    "https://api.gitbook.com/book/michelleerica/wdi-25/contents/week_02/wk02_day05.json",
    "https://api.gitbook.com/book/michelleerica/wdi-25/contents/week_04/wk04_day01.json",
    "https://api.gitbook.com/book/michelleerica/wdi-25/contents/week_04/wk04_day02.json",
    "https://api.gitbook.com/book/michelleerica/wdi-25/contents/week_04/wk04_day03.json",
    "https://api.gitbook.com/book/michelleerica/wdi-25/contents/week_04/wk04_day04.json",
    "https://api.gitbook.com/book/michelleerica/wdi-25/contents/week_04/wk04_day05.json",
    "https://api.gitbook.com/book/michelleerica/wdi-25/contents/week_05/wk05_day01.json",
    "https://api.gitbook.com/book/michelleerica/wdi-25/contents/week_05/wk05_day02.json",
    "https://api.gitbook.com/book/michelleerica/wdi-25/contents/week_05/wk05_day03.json",
    "https://api.gitbook.com/book/michelleerica/wdi-25/contents/week_05/wk05_day04.json",
    "https://api.gitbook.com/book/michelleerica/wdi-25/contents/week_07/wk07_day01.json",
    "https://api.gitbook.com/book/michelleerica/wdi-25/contents/week_07/wk07_day02.json",
    "https://api.gitbook.com/book/michelleerica/wdi-25/contents/week_07/wk07_day03.json",
    "https://api.gitbook.com/book/michelleerica/wdi-25/contents/week_07/wk07_day04.json",
    "https://api.gitbook.com/book/michelleerica/wdi-25/contents/week_07/wk07_day05.json",
    "https://api.gitbook.com/book/michelleerica/wdi-25/contents/week_08/wk08_day01.json",
    "https://api.gitbook.com/book/michelleerica/wdi-25/contents/week_08/wk08_day02.json"
  ];

  $("#gitbookURL").submit(function(e){
    e.preventDefault()
    getGitBook();
  })


  const getGitBook = function(){

  var gitbookPage = gitbookPages[Math.floor(Math.random()*gitbookPages.length)];

  $.ajax(gitbookPage)
  .done(function(data){

    let content = data.sections[0].content
    let gitbookLinks = $(content).find('a').map(function(){ return $(this).attr('href'); });
    console.log(gitbookLinks)
    let randomLink = gitbookLinks[Math.floor(Math.random()*gitbookLinks.length)]
    $('#displayGitBook').append(`<a href="${randomLink}">${randomLink}</a>`);
    // $('#displayGitBook').html(randomLink)

// .append('<p><a href="http://www.google.com">Google</a></p>');

    })
  }
});

</script>
