<script type="text/javascript" src="assets/Boot.js"></script>
<script type="text/javascript" src="assets/Preloader.js"></script>
<script type="text/javascript" src="assets/MainMenu.js"></script>
<script type="text/javascript" src="assets/Game.js"></script>
<style>
  #gameContainer {
    display: none;
  }
</style>

<select id="playerSelected">
  <option value ="" disabled selected>Characters</option>
  <option value="character1">Character1</option>
  <option value="character2">Character2</option>
  <option value="character3">Character3</option>
  <option value="character4">Character4</option>
</select>

<div id="gameContainer"></div>
<button id="save">Save</button>

<script>
var selectedPlayer;
var playerName = '<%= @current_user %>';
var GAImmersered = GAImmersered || {};
GAImmersered.game = new Phaser.Game(512, 384, Phaser.AUTO, 'gameContainer', null, false, false);
GAImmersered.game.state.add('Boot', GAImmersered.Boot);
GAImmersered.game.state.add('Preloader', GAImmersered.Preloader);
GAImmersered.game.state.add('MainMenu', GAImmersered.MainMenu);
GAImmersered.game.state.add('Game', GAImmersered.Game);
// debugger;

$('#save').on('click', function(){

  GAImmersered.game.state.states.Game.saveGame();

})

$('#playerSelected').on('change', function(){
  selectedPlayer = $('#playerSelected').val();
  console.log(selectedPlayer);

  $('#playerSelected').hide();
  $('#gameContainer').show();

  // start game once player has been selected
  // debugger;

  GAImmersered.game.state.start('Boot');
});

</script>
