<center>
  <h1>Alpha Testing</h1>
</center>
<script type="text/javascript" src="/assets/Boot.js"></script>
<script type="text/javascript" src="/assets/Preloader.js"></script>
<script type="text/javascript" src="/assets/MainMenu.js"></script>
<script type="text/javascript" src="/assets/Game.js"></script>
<style>
    body {
        padding: 0px;
        margin: 0px;
    }
</style>
