// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  padding: 0;
  margin: 0;
  font-family: 'Press Start 2P', cursive !important;
}
